@using AnnonsAddinWeb.ViewModels
@model SearchAdvertisementViewModel
@{
    ViewBag.Title = "BuyAuctions";
}
<div class="container">
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <h3>Sök efter auktioner</h3>
    @using (Ajax.BeginForm("SearchAuctions", "Advertisement", new AjaxOptions
    {
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "auctionSearchResult"
    }, new { @Class = "row" }))
    {
        <div class="row">
            <div class="col-md-3">
                @Html.LabelFor(model => model.SearchText, "Sök efter auktioner")
                @Html.TextBoxFor(model => model.SearchText, new { @Class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.SelectedCategory, "Filtrera på kategorier")
                @Html.DropDownListFor(model => model.SelectedCategory, new SelectList(Model.CategoryList, "Value", "Text"), new { @Class = "form-control" })
            </div>
            <div class="col-md-3">
                @Html.LabelFor(model => model.SelectedFilter, "Sortera efter:")
                @Html.DropDownListFor(model => model.SelectedFilter, new SelectList(Model.FilterList, "Value", "Text"), new { @Class = "form-control" })
            </div>

            <div class="col-md-3" style="padding-top:13.6px;">
                <input class="btn btn-lg btn-primary" id="submitBtn" type="submit" value="Sök"/>
            </div>
        </div>
    }
    <br />
    <div class="row" id="auctionSearchResult">
        <h4>Search results...</h4>
    </div>
</div>