@using AnnonsAddinWeb.ViewModels
@model IndexAdvertisementViewModel
@{
    ViewBag.Title = "Home Page";
}

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            var listItems = @Html.Raw(Json.Encode(Model.Advertisements));
            $(document).on("click", ".btnEdit", function (e) {
                var clickedListId = $(e.target).data("id");
                var selectedListItem = listItems.filter(function(e){ return e.ListItemId == clickedListId})[0];

                $("#editAdItemId").val(selectedListItem.ListItemId);
                $("#editAdTitle").val(selectedListItem.Title);
                $("#editAdText").val(selectedListItem.Text);
                $("#editModal").modal()
            });

            $(document).on("click", "#saveEditAdBtn", function(){
                var listItemId = $("#editAdItemId").val();
                var editedTitle = $("#editAdTitle").val();
                var editedText = $("#editAdText").val();
                var editedPrice = $("#editAdPrice").val();
                var editedCategory = $("#editedAdCategory").val();

                var editedListItem = {
                    "ListItemId": listItemId,
                    "Title": editedTitle,
                    "Text": editedText,
                    "Price": editedPrice,
                    "SelectedCategory": editedCategory
                };
                var postDataJSON = JSON.stringify(editedListItem);

                $.ajax({
                    type: "POST",
                    url: "@Url.Action("UpdateListItem", "Advertisement")",
                    data: postDataJSON,
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data){
                        console.log("data posted, fix update fields");
                    }
                })

            });
        });
    </script>
}

<div class="container">
    <h3>Mina annonser</h3>
    <table class="table table-striped table-bordered table-hover table-responsive">
        <thead>
            <tr>
                <th>Rubrik</th>
                <th>Text</th>
                <th>Pris</th>
                <th>Datum</th>
                <th>Kategori</th>
                <th class="text-center"><i class="fa fa-lg fa-pencil text-info" aria-hidden="true"></i></th>
                <th class="text-center"><i class="fa fa-lg fa-ban text-danger" aria-hidden="true"></i></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var listItem in Model.Advertisements)
            {
                <tr>
                    <td>@listItem.Title</td>
                    <td>@listItem.Text</td>
                    <td>@listItem.Price SEK</td>
                    <td>@listItem.Date.ToShortDateString()</td>
                    <td>@listItem.Category.Label</td>
                    <td class="text-center">
                        <button class="btn btn-default btnEdit" data-id="@listItem.ListItemId" @*onclick='location.href="@Url.Action("UpdateAdvertisement", "Advertisement", new { id = listItem.ListItemId, SpHostUrl = Session["SpHostUrl"] })"'*@>Ändra</button>
                    </td>
                    <td class="text-center">
                        <button class="btn btn-default" onclick='location.href="@Url.Action("DeleteAdvertisement", "Advertisement", new { id = listItem.ListItemId, SpHostUrl = Session["SpHostUrl"] })"'>Ta bort</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

<div id="editModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Redigera annons</h4>
                @Html.Hidden("editAdItemId")
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-md-10 form-group">
                        @Html.Label("editAdTitle", "Title")
                        @Html.TextBox("editAdTitle", null, new { @Id = "editAdTitle", @Class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        @Html.Label("editAdText", "Text")
                        @Html.TextBox("editAdText", null, new { @Id = "editAdText", @Class = "form-control" })
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        @Html.Label("editAdPrice", "Pris")
                        <div class="input-group">
                            @Html.TextBox("editAdPrice", null, new { @Id = "editAdPrice", @Class = "form-control currency text-right", @Type = "number" })
                            <span class="input-group-btn">SEK</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-10 form-group">
                        @Html.Label("editAdCategory", "Text")
                        @Html.DropDownList("editAdCategory", new SelectList(Model.Categories, "Value", "Text"), new { @Id = "editAdText", @Class = "form-control" })
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button id="saveEditAdBtn" type="button" class="btn btn-default" data-dismiss="modal">Spara</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">Stäng</button>
            </div>
        </div>

    </div>
</div>