@using AnnonsAddinWeb.ViewModels
@model AdvertisementViewModel

@{
    ViewBag.Title = "ViewAuction";
}

<div class="jumbotron">
    <p>Rubrik: <strong>@Model.Title</strong></p>
    <p>Text: <strong>@Model.Text</strong></p>
    <p>Pris: <strong>@Model.Price</strong></p>
    <p>Skapad: <strong>@Model.Date</strong></p>
    <p>Kategori: <strong>@Model.Category.Label</strong></p>
    <p>Skapad av: <strong>@Model.User.LookupValue (@Model.User.Email)</strong></p>
</div>
